.info{
    width: 100vw;
    top: 1000px;
    padding: 70px 70px 0 70px;
    background-color: black;
    height: 100%;
    text-align: left;
}

.info .title{
    width: 100%;
    padding-bottom: 100px;
}

.info .title p{
    width: 100%;
    font-family: var(--font);
    text-transform: uppercase;
    font-size: 1.6rem;
    letter-spacing: 10px;
    color: white;
    text-align: center;
}
.info .title:before{
    content: '';
    margin-top: 70px !important;
    width: 2px;
    height: 70px;
    background-color: white;
    position: absolute;
    left: 50%;
    margin-top: 30px;
    transform: translate(-50%);
    animation: title 2s infinite ;
}

@keyframes title{
    0%{
        transform: scaleY(1);
        transform-origin: bottom;
    }
    50%{
        transform: scaleY(0);
        transform-origin: bottom;
    }
    51%{
        transform: scaleY(0);
        transform-origin: top;
    }
    100%{
        transform: scaleY(1);
        transform-origin: top;
    }
}
img{
    width: 100%;
   
}
.box{
    padding-top: 50px;
}
.box .img{
    width: 50%;
    height: 100%;
    float: left;
    padding: 100px 50px;
}

.content{
    color: white;
    padding: 100px 0;
    width: 50%;
}

.content .contentTop p{
    font-size: 60px;
    font-family: var(--font);
    font-weight: 800;
    transition: all 1s ease
}

.content .contentMid{
    margin-top: 50px;
}
.content .contentMid p{
    font-size: 25px;
}

.content .contentMid span{
    font-family: var(--font);
    text-shadow: none;
}
.content .contentBottom{
    margin-top: 40px;
}
.content .contentBottom p{
    font-size: 1.2rem;
    line-height: 1;
}
.content .contentBottom .contentIcon{
    margin-right: 1rem;
    align-items: center;
}
@media screen and (max-width:768px) {
    .box{
        flex-wrap: wrap;
    }
    .box .img{
        flex: 100%;
        width: 100%;
        float: unset;
        padding: 100px 0;
    }
    .box .content{
        flex:100%;
        padding: 0;
    }
}
@media screen and (max-width:425px) {
    .info{
        padding: 15px;
    }
    .content .contentTop p{
        font-size: 35px;
    }
    .content .contentMid p{
        font-size: 17px;
    }
    .content .contentBottom p{
        font-size: 12px;
        line-height: 1;
    }
    .info .title p{
        font-size: 16px;
    }
}



