.main{
    margin-top: 70px !important;
    background-color: black;
    color: white;
    justify-content: center;
    width: auto;
    height: auto;
}

.nav{
    position: fixed;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 99;
}
.nav .linkItem::before{
    display: block !important;
    color: white;
    content: "";
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
    margin: 20px 0;
}
.nav .linkItem::before:hover{
    background-color: black !important;
}

.nav .active::before{
    /* width: 20px !important;
    height: 20px !important; */
    transform: scale(1.7);
    transition: all .5s ease;
    background-color: #333333;
}
@media screen and (max-width:425px) {
    .nav{
        display: none;
    }
}


