
  header{
    width: 100%;
    top: 0;
    animation: bg 3.8s ease-in-out;
    transition: all 1s ease-in-out;
  }
  .header{
    justify-content: space-between;
    padding: 0 70px;
    height: 70px;
    line-height: 70px;
    width: 100%;
    overflow: hidden;
  }
  .headerLogo a{
    font-family: var(--font);
    font-size: 1.9rem;
    font-weight: 800;
    letter-spacing: 4px;
    color: #fff;
  }
  .icon{
    flex: 50%;
    justify-content: flex-end;
  }
  .icon a{
    padding-left: 20px;
    font-size: 17px;
    color: #333333;
    animation: icon 3.8s ease-in-out;
    transition: all .5s ease-in-out;
  }
  .icon a:hover{
    color: white;
    transform: translateY(-5%);
    bottom: 1px solid white;
  }
  .tilt{
    box-shadow: unset !important;
  }
  @keyframes bg{
    0%{
        background-color: white;
    }
    50%{
        background-color: white;
    }
    75%{
        background-color: white;
    }
    100%{
        background-color: black;
    }
  }
  @keyframes icon{
    0%{
      color: white;
    }
    50%{
      color: white;
    }
    75%{
      color: white;
    }
    100%{
      color:#333333;
    }
  }
  @media screen and (max-width:425px) {
    .header{
      justify-content: center;
      font-size: 30px;
    }
    .headerLogo a{
      font-size: 16px;
    }
    .icon{
      display: none;
    }
  }