
.thumbnail{
    text-align: center;
    padding: 200px 0 200px 0;
    height: 100vh;
    background-color: black;
    width: 100%;
}


span{
    text-shadow: rgb(238 29 82 / 80%) 4px -3px 0px, rgb(105 201 208 / 80%) -3px 5px 0px;
}

p{
    font-size: calc(3.4vw + 3.4vh) ;
}
